.section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(37, 148, 251);
}

.draggable {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
    height: 20rem;
    background-color: #9749FF;
    margin-right: 10px;
    color: white;
}

.drag_item {
    padding: 5px 10px;
    width: 8rem;
    height: auto;
    color: black;
    background-color: white;
}